.maincontainer{

    display: flex;
    justify-content: center;
    align-items: center;

}
.subcontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
}
.imageholder{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-color: grey;
}
.profileimage{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.fileuploader{
    margin-top: 20%;
}
.upload{
    height: 30px;
    background-color: yellow;
    color: black;
    font-weight: 900;
    border-style: hidden;
    border-radius: 10%;
    margin-top: 10%;
}